<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
<link rel="stylesheet" href="${backendUrl}/statics/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="${backendUrl}/statics/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="${backendUrl}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css"></link>
<link rel="stylesheet" href="${backendUrl}/statics/plugins/ztree/css/metroStyle/metroStyle.css"></link>
<link rel="stylesheet" href="${backendUrl}/statics/css/main.css"></link>
<script src="${backendUrl}/statics/libs/jquery.min.js"></script>
<script src="${backendUrl}/statics/plugins/layer/layer.js"></script>
<script src="${backendUrl}/statics/libs/bootstrap.min.js"></script>
<script src="${backendUrl}/statics/libs/vue.min.js"></script>
<script src="${backendUrl}/statics/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="${backendUrl}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="${backendUrl}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="${backendUrl}/statics/js/common.js"></script>
<script src="${backendUrl}/statics/libs/jquery-ui.min.js"></script>
